header {
  text-align: CENTER;
  font-family: Merriweather, Roboto Slab, sans-serif;
}

h1 {
  padding: 0;
  margin: 6px;
  font-family: Merriweather, Roboto Slab, sans-serif;
}

h2 {
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  font-size: 20px;
  font-family: Merriweather, Roboto Slab, sans-serif;
}

body {
  background-color: #FDFDFD;
  width: 700px;
  margin: auto;
  font-family: Cabin, Calibri, sans-serif;
}

article {
  background-color: white;
  margin: auto;
  padding: 0 10px 10px 10px;
  width: 680px;
}

td {
  padding: 0 5px 0 5px;
}

p {
  padding: 0;
  margin: 5px;
}

sup {
  vertical-align: 2px
}

canvas {
  margin: 0px;
  vertical-align: top;
}

button {
  margin: 5px 0 0 0;
}

aside {
  width: 135px;
  text-align: RIGHT;
  border: 1px solid;
  padding: 5px;
}

footer {
  font-size: 10pt;
  text-align: CENTER;
  margin: 0;
  padding: 0;
}