header {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  text-align: CENTER;
  font-family: Merriweather, Roboto Slab, sans-serif;
}

h1 {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding: 0px;
  margin: 5px 0px 0px 0px;
  font-size: 20px;
}

body {
  margin: 2;
  font-family: Cabin, Calibri, sans-serif;
}

article {
  margin: 0px 5px 0px 5px;
}

table {
  width: 100%;
}

td {
  padding: 0px 5px 0px 5px;
}

p {
  padding: 0px;
  margin: 0px;
}

.boxed {
  padding: 5px;
}

sup {
  vertical-align: 2px
}

canvas {
  vertical-align: top;
}

aside {
  width: 135px;
  text-align: RIGHT;
  border: 1px solid;
  padding: 0px;
}

footer {
  font-size: 10pt;
  text-align: CENTER;
  margin: 15px 0px 0px 0px;
}