header {
  text-align: CENTER;
  font-family: Roboto, Merriweather, sans-serif;
}

h1 {
  padding: 0;
  margin: 6px;
  font-family: Roboto, Merriweather, sans-serif;
}

h2 {
  margin: 10px 0 0 0;
  padding: 5px 0 0 0;
  font-size: 20px;
  font-family: Roboto, Merriweather, sans-serif;
}

body {
  background-color: #F0F0F0;
  width: 100%;
  margin: auto;
  font-family: Helvetica Neue, Helvetica, Arimo, Liberation Sans, Lucida Grande, sans-serif;
}

nav {
  text-align: CENTER;
  background-color: #0a0;
  color: #FFF;
  padding: 0 10px 0 10px;
  width: 80%;
  margin: auto;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.navlnk {
  margin: auto;
  color: #FFF;
  text-decoration: none;
}

.navbar {
  padding: 7px;
}

#navbar {
  margin: auto;
  color: #FFF;
  text-decoration: none;
}

article {
  background-color: white;
  margin: 5px;
  padding: 0 10px 5px 10px;
  width: 80%;
}

td {
  padding: 0 5px 0 5px;
}

p {
  padding: 0;
  margin: 5px;
}

sup {
  vertical-align: 2px
}

canvas {
  margin: 0px;
  vertical-align: top;
}

button {
  margin: auto;
}

aside {
  width: 140px;
  text-align: RIGHT;
  border: 1px solid;
  padding: 5px;
}

footer {
  font-size: 10pt;
  text-align: CENTER;
  margin: 0;
  padding: 0;
}